/* Background pattern from Toptal Subtle Patterns */

body{
    margin: 40px auto;
    max-width: 1000px;
    line-height: 1.6;
    font-size: 16px;
    font-family: "Times New Roman", Times, serif;
    color: #454545;
    background-color: #eedddd;
    padding: 0 10px;
}
h1, h2, h3{
    font-family: Helvetica, sans-serif;
    line-height: 1.2;
}
a{
    color:#0077aa;
}
.wrap{
    height: 100%;  
    position: relative;
    overflow: hidden;
}
#splash{
    background: url(baltimore.jpg) no-repeat center center;
    background-size: cover;
    height: 200px;
    width: 100%; 
    transform: scale(1.1);
    -webkit-filter: grayscale(70%);
    
}
.wrap h1{
    color: #cccccc;
    font-size: 300%;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate3d(-50%, -50%, 0);
}
